.nav {
  display: flex;    
  justify-content: space-around;   
  height: auto; 
}

ul.drop-menu li {
  display: none;
  position: relative;
  justify-self: left;
  background-color: grey;  
}
.drop-menu:hover li{
  display: block;
  overflow: hidden;
  animation: drop-menu 500ms ease-in-out forwards;   
}

@keyframes drop-menu {
  0% {
    height: 0;
    opacity: 0;
    color: black;
  }
  100% {
    height: 20px;
    opacity: 1;
    color: white;    
  }
}